.heading{
    color:  rgb(171, 110, 227);
    font-weight: bold;
    width: 100%;
}
.Note{
    color: rgb(150, 27, 27);
    font-size: 13px;
    width: 100%;
}

.CR{
    position: fixed;
    bottom: 0;
    background-color: rgb(210, 171, 72);
    width: 100%;
    line-height: 25px;
}
canvas{
    margin: 30px;
    border: 5px ridge gray;
    box-shadow: 7px 7px 10px green;

}